.quizBlock__label {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='radio']:checked,
input[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type='radio']:checked + label,
input[type='radio']:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

input[type='radio']:checked + label:before,
input[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #000;
  background-color: #ffffff;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
}

input[type='radio']:checked + label:after,
input[type='radio']:not(:checked) + label:after {
  content: '';
  position: absolute;
  transition: all 0.2s ease;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: black;
  top: 50%;
  transform: translateY(-50%);
}

input[type='radio']:not(:checked) + label:after {
  opacity: 0;
}

input[type='radio']:checked + label:after {
  opacity: 1;
}

.quizBlock__labelText {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 13px 13px 13px 0;
}

.additionalBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 19px;
  display: none;
}

.additionalBlock__title {
  color: #000;
  font-family: inherit;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.additionalBlock__buttons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
}

.additionalBlock__buttons--black {
  border-radius: 40px;
  background: #0b0b0b;
  box-shadow: 0px 1px 4px 0px rgba(0, 84, 221, 0.2);
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20.8px;
  padding: 15px 25px;
  cursor: pointer;
}

.additionalBlock__buttons--white {
  border-radius: 40px;
  border: 1px solid #000;
  background: #fff;
  box-shadow: 0px 1px 4px 0px rgba(0, 84, 221, 0.2);
  color: #000;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20.8px;
  padding: 15px 25px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .additionalBlock__buttons {
    align-self: center;
  }
}

input[type='checkbox']:checked,
input[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type='checkbox']:checked + label,
input[type='checkbox']:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

input[type='checkbox']:checked + label:before,
input[type='checkbox']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #000;
  background-color: #ffffff;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
}

input[type='checkbox']:checked + label:after,
input[type='checkbox']:not(:checked) + label:after {
  content: '';
  position: absolute;
  transition: all 0.2s ease;
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: black;
  top: 50%;
  transform: translateY(-50%);
}

input[type='checkbox']:not(:checked) + label:after {
  opacity: 0;
}

input[type='checkbox']:checked + label:after {
  opacity: 1;
}
